<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="location" content="province=重庆;city=重庆;">
    <link rel="shortcut icon" href=" /favicon.ico" />
    <title>@ViewBag.Title - 重庆艾尔蓝环保-重庆甲醛治理,光触媒除甲醛,甲醛检测,甲醛治理</title>
    <meta content="重庆除甲醛,艾尔蓝,艾尔蓝环保,重庆艾尔蓝环保,甲醛治理,除甲醛加盟,除甲醛公司,重庆甲醛治理,光触媒除甲醛,甲醛检测,重庆除甲醛" name="keywords" />
    <meta content="重庆艾尔蓝环保科技有限公司是重庆专业除甲醛公司,重庆甲醛检测治理公司,重庆除甲醛专业资质机构。本公司从事光触媒产品研发、生产、销售、加盟、空气净化检测的新兴高科技企业，生产研发中心位于江苏省南京市,总部除甲醛公司在重庆市,艾尔蓝环保除甲醛公司拥有行业门槛最高的国家室内环境净化治理甲级资质，掌握最新的甲醛检测、甲醛治理与除甲醛技术" name="description" />
    <meta property="og:title" content="艾尔蓝环保-重庆除甲醛,重庆甲醛治理,光触媒除甲醛,甲醛检测,甲醛治理,除甲醛加盟">
    <meta property="og:site_name" content="艾尔蓝环保">
    <meta property="og:type" content="image">
    <meta property="og:description" content="重庆艾尔蓝环保科技有限公司是重庆专业除甲醛公司,重庆甲醛检测治理公司,重庆除甲醛专业资质机构。本公司从事光触媒产品研发、生产、销售、加盟、空气净化检测的新兴高科技企业，生产研发中心位于江苏省南京市,总部除甲醛公司在重庆市,艾尔蓝环保除甲醛公司拥有行业门槛最高的国家室内环境净化治理甲级资质，掌握最新的甲醛检测、甲醛治理与除甲醛技术">
    <script src="~/Content/js/jquery-2.1.0.js" charset="utf-8"></script>
    <link rel="stylesheet" href="~/Content/css/css.css" />
    <link rel="stylesheet" href="~/Content/css/amazeui.css" />
    <link rel="stylesheet" href="~/Content/css/common.min.css" />
    <link rel="stylesheet" href="~/Content/css/index.min.css" />
    <style>
        .gengduo {
            border-radius: 3px;
            color: #e04b45;
            display: inline-block;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            transition: all 0.5s ease 0s;
            width: 120px;
        }

            .gengduo:hover {
                background: #e04b45 none repeat scroll 0 0;
                color: #fff;
            }

        .alzs1 {
            display: inline-block;
            padding-top: 225px;
            width: 100%;
        }

            .alzs1 h3 {
                font-size: 18px;
                font-weight: 500;
                line-height: 50px;
                margin-bottom: 30px;
                text-align: center;
            }

        .features_item img {
            width: 262px;
            height: 198px;
        }
    </style>
</head>
<body>
    <div class="layout">
        <!--===========layout-header================-->

        <div class="layout-header am-hide-sm-only">



            <div class="header-box" data-am-sticky>
                <!--header start-->
                <div class="container">
                    <div class="header">
                        <div class="am-g">
                            <div class="am-u-lg-2 am-u-sm-12">
                                <div class="logo">
                                    <a href="/"><img src="~/Content/images/logo.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="am-u-md-10">
                                <div class="header-right am-fr">
                                    <div class="header-contact">
                                        <div class="header_contacts--item">
                                            <div class="contact_mini">
                                                <i style="color:#59bcdb" class="contact-icon am-icon-phone"></i>
                                                <strong>15178765535</strong>
                                                <span>随时欢迎您的来电</span>
                                            </div>
                                        </div>
                                        <div class="header_contacts--item">
                                            <div class="contact_mini">
                                                <i style="color:#59bcdb" class="contact-icon am-icon-weixin"></i>
                                                <strong>15178765535</strong>
                                                <span>随时欢迎您的来信！</span>
                                            </div>
                                        </div>
                                        <div class="header_contacts--item">
                                            <div class="contact_mini">
                                                <i style="color:#59bcdb" class="contact-icon am-icon-qq"></i>
                                                <strong>184462359</strong>
                                                <span>专业除甲醛 艾尔蓝环保</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--header end-->
                <!--nav start-->
                <div class="nav-contain">
                    <div class="nav-inner">
                        <ul class="am-nav am-nav-pills am-nav-justify">
                            <li class=""><a href="/">首页</a></li>
                            <li>
                                <a href="/product/index">产品中心</a>
                                <!-- sub-menu start-->
                                <!--      <ul class="sub-menu">
                                            <li class="menu-item"><a href="html/product1.html">产品展示1</a></li>
                                            <li class="menu-item"><a href="html/product2.html">产品展示2</a></li>
                                            <li class="menu-item"><a href="html/product3.html">产品展示3</a></li>
                                        </ul>-->
                                <!-- sub-menu end-->
                            </li>
                            <li><a href="html/example.html">客户案例</a></li>
                            <li><a href="html/solution.html">解决方案</a></li>
                            <li>
                                <a href="html/news.html">新闻中心</a>
                                <!-- sub-menu start-->
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="html/news-content.html">公司动态</a></li>
                                    <li class="menu-item"><a href="html/404-dark.html">行业动态</a></li>
                                    <li class="menu-item"><a href="html/404-light.html">精彩专题</a></li>
                                </ul>
                                <!-- sub-menu end-->
                            </li>
                            <li><a href="/home/about">关于我们</a></li>

                        </ul>
                    </div>
                </div>
                <!--nav end-->
            </div>
        </div>

        <!--mobile header start-->
        @*<div class="m-header">
                <div class="am-g am-show-sm-only">
                    <div class="am-u-sm-2">
                        <div class="menu-bars">
                            <a href="#doc-oc-demo1" data-am-offcanvas="{effect: 'push'}"><i class="am-menu-toggle-icon am-icon-bars"></i></a>
                            <!-- 侧边栏内容 -->
                            <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
                                <a href="javascript: void(0)" class="am-menu-toggle"></a>

                                <div class="am-offcanvas">
                                    <div class="am-offcanvas-bar">
                                        <ul class="am-menu-nav am-avg-sm-1">
                                            <li><a href="/" class="">首页</a></li>
                                            <li class="am-parent">
                                                <a href="#" class="">产品中心</a>
                                                <ul class="am-menu-sub am-collapse ">
                                                    <li class="">
                                                        <a href="html/product1.html" class="">产品展示1</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="html/product2.html" class="">产品展示2</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="html/product3.html" class="">产品展示3</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class=""><a href="html/example.html" class="">客户案例</a></li>
                                            <li class=""><a href="html/solution.html" class="">解决方案</a></li>
                                            <li class="am-parent">
                                                <a href="html/news.html" class="">新闻中心</a>
                                                <ul class="am-menu-sub am-collapse  ">
                                                    <li class="">
                                                        <a href="html/news-content.html" class="">公司动态</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="html/404-dark.html" class="">行业动态</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="html/404-light.html" class="">精彩专题</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class=""><a href="/home/about" class="">关于我们</a></li>

                                            <li class="am-parent">
                                                <a href="" class="nav-icon nav-icon-globe">Language</a>
                                                <ul class="am-menu-sub am-collapse  ">
                                                    <li>
                                                        <a href="#">English</a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#">Chinese</a>
                                                    </li>
                                                </ul>
                                            </li>

                                              </ul>

                                    </div>
                                </div>
                            </nav>

                        </div>
                    </div>
                    <div class="am-u-sm-5 am-u-end">
                        <div class="m-logo">
                            <a href=""><img src="~/Content/images/logo.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!--mobile header end-->
            </div>*@



        @RenderBody()



    </div>


    <!--===========layout-footer================-->
    <div class="layout-footer">
        <div class="footer">
            <div style="background-color:#383d61" class="footer--bg"></div>
            <div class="footer--inner">
                <div class="container">
                    <div class="footer_main">
                        <div class="am-g">
                            <div class="am-u-md-9 ">
                                <div class="footer_main--column">
                                    <strong class="footer_main--column_title">关于我们</strong>
                                    <div class="footer_about">
                                        <p class="footer_about--text">
                                            艾尔蓝家环保是专业从事室内、车内甲醛、苯系物、TVOC、装修异味等有害气体检测与治理服务的高新技术企业。公司引进日本先进的污染治理技术，产品全部采用纯植物提取液并通过国家CMA认证，治理结果完全符合国家标准（GB/T18883-2002）
                                        </p>

                                    </div>
                                </div>
                            </div>

                            @*<div class="am-u-md-3 ">
                                    <div class="footer_main--column">
                                        <strong class="footer_main--column_title">产品中心</strong>
                                        <ul class="footer_navigation">
                                            <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">关于光触媒</a></li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="am-u-md-3 ">
                                    <div class="footer_main--column">
                                        <strong class="footer_main--column_title">技术支持</strong>
                                        <ul class="footer_navigation">

                                            <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">设备</a></li>

                                        </ul>
                                    </div>
                                </div>*@

                            <div class="am-u-md-3 ">
                                <div class="footer_main--column">
                                    <strong class="footer_main--column_title">联系详情</strong>
                                    <ul class="footer_contact_info">
                                        <li class="footer_contact_info--item"><i class="am-icon-phone"></i><span>服务专线：15178765535</span></li>

                                        <li class="footer_contact_info--item"><i class="am-icon-map-marker"></i><span>重庆市九龙坡 北大资源燕南</span></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="am-u-md-12 ">
                                <p style="color:#fff;text-align:center">2017重庆艾尔蓝环保科技有限公司版权所有 ICP证：渝ICP备17005826号-1</p>
                                <script src="https://s13.cnzz.com/z_stat.php?id=1261979129&web_id=1261979129" language="JavaScript"></script>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 代码 开始 -->
    <div id="leftsead">
        <ul>
            <li>
                <a href="javascript:void(0)" class="youhui">
                    <img src="~/Content/images/l02.png" width="47" height="49" class="shows" />
                    <img src="~/Content/images/a.png" width="57" height="49" class="hides" />
                    <img src="~/Content/images/weixin.jpg" width="145" class="2wm" style="display:none;margin:-100px 57px 0 0" />
                </a>
            </li>
            <li>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=184462359&site=qq&menu=yes" target="_blank">
                    <div class="hides" style="width:161px;display:none;" id="qq">
                        <div class="hides" id="p1">
                            <img src="~/Content/images/ll04.png">
                        </div>
                        <div class="hides" id="p2">
                            <span style="color:#FFF;font-size:16px;font-weight: bold;">184462359</span>
                        </div>
                    </div>
                    <img src="~/Content/images/l04.png" width="47" height="49" class="shows" />
                </a>
            </li>
            <li id="tel">
                <a href="javascript:void(0)">
                    <div class="hides" style="width:161px;display:none;" id="tels">
                        <div class="hides" id="p1">
                            <img src="~/Content/images/ll05.png">
                        </div>
                        <div class="hides" id="p3">
                            <span style="color:#FFF;font-size:16px;font-weight: bold;">15178765535</span>
                        </div>
                    </div>
                    <img src="~/Content/images/l05.png" width="47" height="49" class="shows" />
                </a>
            </li>
            <li id="btn">
                <a id="top_btn">
                    <div class="hides" style="width:161px;display:none">
                        <img src="~/Content/images/ll06.png" width="161" height="49" />
                    </div>
                    <img src="~/Content/images/l06.png" width="47" height="49" class="shows" />
                </a>
            </li>
        </ul>
    </div>

    <script src="~/Content//js/amazeui.js" charset="utf-8"></script>
    <script src="~/Content//js/common.js" charset="utf-8"></script>
    <script>


        $(function () {

            $("#leftsead a").hover(function () {
                if ($(this).prop("className") == "youhui") {
                    $(this).children("img.hides").show();
                } else {
                    $(this).children("div.hides").show();
                    $(this).children("img.shows").hide();
                    $(this).children("div.hides").animate({ marginRight: '0px' }, '0');
                }
            }, function () {
                if ($(this).prop("className") == "youhui") {
                    $(this).children("img.hides").hide();
                } else {
                    $(this).children("div.hides").animate({ marginRight: '-163px' }, 0, function () { $(this).hide(); $(this).next("img.shows").show(); });
                }
            });

            $("#top_btn").click(function () { if (scroll == "off") return; $("html,body").animate({ scrollTop: 0 }, 600); });

            //右侧导航 - 二维码
            $(".youhui").mouseover(function () {
                $(this).children(".2wm").show();
            })
            $(".youhui").mouseout(function () {
                $(this).children(".2wm").hide();
            });


        });


    </script>

</body>
</html>



