<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogFile" type="log4net.Appender.RollingFileAppender,log4net" >
    <param name="file" value="log\" />
    <param name="datePattern" value="yyyy-MM-dd&quot;.log&quot;" />
    <param name="appendToFile" value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="staticLogFileName" value="false" />
    <param name="MaxSizeRollBackups" value="10" />
    <param name="maximumFileSize" value="500kb" />
    <rollingStyle value="Date" />
    <encoding value="utf-8" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date t:[%thread] level:%-5level c：%logger{2} line：%line e：%exception m：%message%n" />
    </layout>
  </appender>
  <!--定义邮件发送-->
  <!--<appender name="LogSmtpAppender" type="log4net.Appender.SmtpAppender">
    <authentication value="Basic" />
    <to value="471447434@qq.com" />
    <from value="devService@cqebd.cn" />
    <username value="devService@cqebd.cn" />
    <password value="Cqebd2016" />
    <subject value="教师端应用错误日志消息-请及时处理" />
    <smtpHost value="smtp.exmail.qq.com" />
    <bufferSize value="2048" />
    --><!--超长部分是否丢弃--><!--
    <lossy value="true" />
    --><!-- 下面的定义， 就是 日志级别 大于 WARN 的， 才发邮件.  --><!--
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    --><!-- 下面是 定义邮件的格式 （好多换行啊） --><!--
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="机器：%property{log4net:HostName} %newline错误级别 %level%newline错误信息：%message %newline代码类: %logger%newline代码行:%line%newline异常详情:%exception %newline线程: %thread%newline日期: %date%newlineNDC: %property{NDC}%newline%newline" />
    </layout>
  </appender>-->
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFile" />
    <!--<appender-ref ref="LogSmtpAppender" />-->
  </root>
</log4net>