<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="bds274382554_dbEntities" connectionString="metadata=res://*/AiErLanModel.csdl|res://*/AiErLanModel.ssdl|res://*/AiErLanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bds274382554.my3w.com;initial catalog=bds274382554_db;user id=bds274382554;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="Entities" connectionString="metadata=res://*/AiErLanModel.csdl|res://*/AiErLanModel.ssdl|res://*/AiErLanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bds274382554.my3w.com;initial catalog=bds274382554_db;user id=bds274382554;password=a123123123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>