@{
    ViewBag.Title = "关于我们";
}
 

<div class="toppic">
    <div class="am-container-1">
        <div class="toppic-title left">
            <i class="am-icon-paper-plane toppic-title-i"></i>
            <span class="toppic-title-span">关于我们</span>
            <p>About Us</p>
        </div>
        @*<div class="right toppic-progress">
            <span><a href="index.html" class="w-white">首页</a></span>
            <i class=" am-icon-arrow-circle-right w-white"></i>
            <span><a href="about-us.html" class="w-white">关于我们</a></span>
        </div>*@
    </div>
</div>
<div class=" am-container-1">
    <div class="part-title part-title-mar">
        <a href="customer-case.html">
            <i class=" am-icon-paper-plane part-title-i"></i>
            <span class="part-title-span">关于艾尔蓝</span>
            <p>About AiErLan</p>
        </a>
    </div>
    <div class="company-intro">
        <p>重庆艾尔蓝环保科技有限公司是专业从事室内、车内甲醛、苯系物、TVOC、装修异味等有害气体检测与治理服务的高新技术企业。公司引进日本先进的污染治理技术（高温萃取、超分子络合、生物降解、光催化、物理吸附、化学中和、臭氧消毒等），产品全部采用纯植物提取液并通过国家CMA认证，治理结果完全符合国家标准（GB/T18883-2002）。公司将用最热忱、最细致、最诚信的态度为广大消费者提供空气净化服务，让您自由呼吸</p>
    </div>
</div>
<div class="gray-li company-thought-all">
    <div class=" am-container-1">
        <ul class="company-thought">
            <li>
                <div class="thought-all">
                    <i class="am-icon-circle-o-notch"></i>
                    <span>企业理念</span>
                    <div class="thought-all-none">
                        <h5>专注 专业</h5>
                    </div>
                </div>

            </li>
            <li>
                <div class="thought-all">
                    <i class="am-icon-hand-o-right"></i>
                    <span>服务理念</span>
                    <div class="thought-all-none">
                        <h5>实务 用心</h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="thought-all">
                    <i class="am-icon-bar-chart"></i>
                    <span>发展方向</span>
                    <div class="thought-all-none">
                        <h5>精益求精</h5>
                    </div>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>

@*<div class=" am-container-1">
    <div class="part-title part-title-mar">
        <a href="customer-case.html">
            <i class=" am-icon-home part-title-i"></i>
            <span class="part-title-span">办公环境</span>
            <p>Office Space</p>
        </a>
    </div>
    <div class="office-space">
        <div class="cam-u-lg-6 am-u-md-6 am-u-sm-12">
            <img src="img/space-1.png" />
        </div>
        <div class="cam-u-lg-3 am-u-md-3 am-u-sm-6">
            <img src="img/space-2.png" />
        </div>
        <div class="cam-u-lg-3 am-u-md-3 am-u-sm-6">
            <img src="img/space-3.png" />
        </div>
        <div class="cam-u-lg-3 am-u-md-3 am-u-sm-6">
            <img src="img/space-4.png" />
        </div>
        <div class="cam-u-lg-3 am-u-md-3 am-u-sm-6">
            <img src="img/space-5.png" />
        </div>
        <div class="clear"></div>
    </div>

</div>*@
  
<div class=" am-container-1">
    <div class="part-title part-title-mar">
        <a href="customer-case.html">
            <i class=" am-icon-comments-o part-title-i"></i>
            <span class="part-title-span">联系我们</span>
            <p>Contact Us</p>
        </a>
    </div>
</div>
<div class="gray-li">
    <div class=" am-container-1">
        <div class="contact-us">
            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                <img src="~/Content/images/weixin.jpg" />
            </div>
            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12">
                <ul class="contact-add">
                    <li>
                        <div><i class=" am-icon-map-marker"></i><span class="contact-add-1">重庆市九龙坡 北大资源燕南</span></div>
                    </li>
                    <li>
                        <div><i class=" am-icon-phone"></i><span>15178765535</span></div>
                    </li><li>
    <div><i class=" am-icon-weixin"></i><span>15178765535</span></div>
</li><li>
    <div><i class=" am-icon-qq"></i><span>184462359</span></div>
</li>
                 
                    <li>
                        <div><i class=" am-icon-envelope-o"></i><span>184462359@qq.com</span></div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
