@model  IQueryable<News>
@{
    ViewBag.Title = "产品介绍";
}
<div class="section">
    <div class="container">
        <div class="index-container">
            <div class="am-g">
                <div class="am-u-md-3">
                    <div class="features_item">
                        <img src="~/Content//images/MS-P201.jpg" alt="【光之吻】光触媒（MS-P201）">
                        <h3 class="features_item--title">【光之吻】光触媒（MS-P201）</h3>
                        <p class="features_item--text">
                            明晟光触媒源自德国技术，为锐钛型纳米二氧化钛水溶液，不含重金属，无毒无害，外观为澄清溶液，长时间静置，不发生沉积现象，在室内光线或灯光下都具有优异的光催化效果，能分解在空气中的有机化合物，对甲醛、苯系化合物及TVOC有极强的光分解活性，并抑制细菌生长和病毒的活性，有效杀灭多种细菌，平均抗菌率高达99.9%以上（日光灯照射测定数据），达到空气净化，杀菌，除臭，防霉。通过广东省微生物分析检测中心测试，在日光灯下，24小时甲醛的去化率为93.1%，苯的去化率为96.6%，TVOC的去化率为97.4%，对大肠杆菌抗菌率为99.99%，对金黄色葡萄球菌抗菌率为99.9%。
                        </p>
                    </div>
                </div>
                
            </div>
 
        </div>
    </div>
</div>
